@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .background {
    background: linear-gradient(180deg, #1d212300 0%, #1d2123),
      url("/images/Lead-image.png");
    /* background-repeat: no-repeat; */
    /* background: linear-gradient(180deg, #1d2123cc 0%, #1d2123 61.48%); */
    /* background-image: url("/images/Lead-image.png"); */
    background-size: 100%;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
